.container {
    padding: 10px;
    margin-left: 250px;
    margin-right: 250px;
    
} 

.icon {
    margin-right: 10px;
}

.message {
    color: black;
}

.info {
   
    background-color: #d1ecf0;
}

.info .icon {
    color: #07d5f5; 
}

.danger {
  
    background-color: #d6cacc;
}

.danger .icon {
    color:  #f5041c;;
}

.success {
    background-color: #d8e4d8;
}
.success .icon {
    color:  #04f704;
    
}

.warning {
    background-color: #e2d9cf;
}

.warning .icon {
    color:  #f58904;

}




 